nav{
    background-color:#ffffff;
    margin: 1px;
    display:block;
    padding: 1px;;
    color:grey;

    border-radius: 1rem;
}
body{
    background-color:white;
}
button{
    margin: auto;
    display: block;
    background-color:transparent;

}
label{
    margin:auto;
}
input{
    margin:auto;
    display:inline-block;
}
form{
    text-align:center;
}
#output{
    text-align:center;
    display:block;
}