.input-container{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.input-container label {
    margin-right: 8px;
    color:#EEFBFB;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:#007CC7;
    margin:0;
    padding: 12px 8px;
}
.nav-title{
    flex: 1;
    font-size:24px;
    
}
.link{
    margin-left: 30px;
    text-decoration: none;
    color:black;
}
.link:hover{
    color:antiquewhite;
    border:1px  black;
    
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;  
    background-color:#12232E;  
}
.submitBtn{
    display:flex;
    justify-content: center;
    margin-top:10px;

}
.container{
    margin-top:20px ;
}

.link-active{
    font-weight:bolder;
    color:antiquewhite;
}

.output-div{
    display:flex;
    justify-content: center;
    /* background-color:aqua; */
    color:#4DA8DA;
    margin-top: 20px;
}
.heading{
    color:white;
    font-weight:bold;
    font-style: italic;
    text-align: center;
}
.inputform label{
    color:white;
}
.question-container{
    text-align:center;
    color:white;
}
#submitBtn{
    background-color:#12232E;
    color:#EEFBFB;
}
